

/* Qusai Amer */
.jumbotron {
  box-sizing: border-box;
  height: 600px;
  background-color: rgba(0, 0, 0, 0);
}

.main-button-container {
  margin-top: 200px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

.timer-p {
  margin-top: 40px;
}

.answer:hover {
  background: rgb(192, 204, 255);
}

.answer {
  padding-top: 7px;
  height: 45px;
  color: white;
  padding-left: 14px;
  background-color: rgb(11, 126, 155);
  border-radius: 4px;
}

.img-wrong {
  margin-top: 40px;
}

.first-answer {
  margin-top: 40px;
}

.reset-button {
  margin-top: 40px;
}

.summary-correct {
  margin-top: 40px;
}

body {
  background-color: rgb(19, 47, 80);
  color: white;
}